html, body {
  width: 100%; height: 100%;
  background-color: #230a39;
}
body {
#background-image:url('smart-logo.svg');
#background-repeat:no-repeat;
#background-attachment:fixed;
#background-size:cover;
}
.navbar {
  margin: 0;
}
.navbar-brand {
  font-weight: bolder;
}
.page-navbar li.active {
  border-left: 1px solid black;
}

.bs-navbar-collapse.collapsing, .bs-navbar-collapse.in {
  background: slateblue;
  
}

.bs-docs-nav .navbar-toggle .icon-bar {
  background-color: #563d7c;
}
.bs-docs-nav .navbar-header .navbar-toggle {
  border-color: #fff;
}

#master {
  min-height: 70%;
  background-color: white;
}

header .container {
}

header {
  background: #6bb1d3;
}
header a {
  color: rgba(240,240,240,1);
}
.nav > li > a:hover, .nav > li > a:focus {
  background: rgba(240,240,240,1);
  color: #563d7c;
}


.container {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  height: 50px;
}
h1,h2,h3 {
  margin: 1em 0 0.5em;
}
h1:first-child, h2:first-child {
  margin-top: 0;
}

@media (min-width: 768px) {
  #master {
    padding: 3em 0;
  }
}
.page-content {
  padding-bottom: 2em;
}
.row
{
}
.site-navbar.affix {
  position: relative;
}
 
@media (min-width: 992px) {
  .site-navbar {
  }
  .col-md-3 {height: 100%;}
  .site-navbar.affix {
    overflow-y: auto;
    position: fixed;
    top: 5px;
    bottom: 5px;
    height: auto;
  }
  .site-navbar h2 {
    display: inline-block;
  }
}

pre {
  background-color: rgba(255, 255, 255, 0.5);
}

table.list {
  margin-bottom:1em;
  border: 1px solid grey;
}

table td, table th {
}
img.sequence-diagram-raw {
  max-width: 100%;
  max-height: 750px;
}

footer {
  padding: 25px 0;
  color: #fff;
  border-top: 50px solid #563d7c;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-col {
  margin-bottom: 50px;
}

footer a {
  color: white;
}

.before-table + table.table > tbody > tr > td,
.before-table + table.table > tbody > tr > th,
.before-table + table.table > thead:first-child > tr:first-child > th,
.before-table + table.table > thead:first-child > tr:first-child > td {
    border: 1px solid #ddd;
}

.before-table + table.table > thead:first-child > tr:first-child > th,
.before-table + table.table > thead:first-child > tr:first-child > td {
    border-bottom-width: 2px;
}

.before-table + table.table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

