/* See bottom for page specifc CSS */

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Slab:400,700|Roboto+Condensed:400,300);

/* Basic overrides including font family */
body {
    font-family: Roboto, Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 40px;
}

input,
button,
select,
textarea { font-family: Roboto, Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif; }

pre, code {
    font-family: Consolas, Menlo, monospace;
    font-weight: 400;
}

code {
    color: #3a87ad;
    border: none;
}


/* /1* Adjust header sizes *1/ */
/* h1 { color: #696969; font-size: 24px; margin-top: 12px; } */
/* h2 { color: #696969; font-size: 20px; margin-top: 36px; } */
/* h3 { color: #5f5f5f; font-size: 14px; font-variant: small-caps; text-transform: uppercase; margin-top: 22px;} */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', Roboto, Calibri, sans-serif;
    color: #888;
    font-weight: 400;
}

.hero-unit { background-color: #e5e5e5; }

.nav-header {
  font-weight: 600;
}

.page-header {
  border-bottom: 1px solid #eeeeee;
}
.footer-row {
  color: #999;
  text-align: right;
  margin: 10px 50px 10px 0px;
  height: 40px;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

/* Font size, line height, and margin adjustments */
body {
    font-size: 15px;
    line-height: 1.65;
}

pre, code {
    font-size: inherit;
    padding: 0 0;
    background-color: inherit;
}


.lead {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 200;
  line-height: 30px;
}

.center { text-align: center; }


h1,
h2,
h3 {
    line-height: 40px;
    text-rendering: optimizelegibility;
}

h1 { margin: 26px 0 8px 0; }
h2 { margin: 26px 0 4px 0; }
h3 { margin: 26px 0 0px 0; }



h4,
h5,
h6 {
  margin: 10px 0;
  text-rendering: optimizelegibility;
}

h1 { font-size: 36px; }
h2 { font-size: 29px; }
h3 { font-size: 22px; }
h4 { font-size: 15px; text-transform: uppercase; }
h5 { font-size: 12px; text-transform: uppercase; font-weight: 700; }
h6 { font-size: 10px; text-transform: uppercase; font-weight: 700; }

/*
h1 small { font-size: 24.5px; }
h2 small { font-size: 17.5px; }
h3 small { font-size: 14px; }
h4 small { font-size: 14px; }
*/

blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

.navbar-search .search-query {
  font-family: inherit;
  font-size: 13px;
}

legend { font-size: 21px; }

legend small {
  font-size: 15px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 14px;
}

.input-append .add-on,
.input-prepend .add-on {
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  line-height: 20px;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

.btn { font-size: 14px; }
.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] { margin-top: 4px; }

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
}

.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 14px;
}

.btn-group > .btn-mini {
  font-size: 10.5px;
}

.btn-group > .btn-small {
  font-size: 11.9px;
}

.btn-group > .btn-large {
  font-size: 17.5px;
}

.nav-header {
  padding: 3px 15px;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  color: #888;
  text-transform: uppercase;
}

.tooltip {
  font-size: 11px;
  line-height: 1.4;
}

.label,
.badge {
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
     -moz-border-radius: 5px 5px 0 0;
          border-radius: 5px 5px 0 0;
}

.navbar .brand {
  font-family: 'Roboto Condensed', Roboto, Calibri, sans-serif;
  padding-top: 11px;
  color: #727272;
  display: block;
  float: left;
  margin-left: -20px;
  margin-right: -12px;
  font-size: 20px;
  font-weight: 200;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #f5f5f5;
  padding: 4px 4px 4px 4px;
  color: #555555;
  border: 1px solid #ccc;
}

.well {
  background-color: #ededed;
}

.btn {
  color: #333333;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'e6e6e6, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
}

.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(top, #0088cc, #0044cc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'0088cc, endColorstr='#'0044cc, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0044cc;
}

.btn-warning {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fbb450, endColorstr='#'f89406, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}

.btn-danger {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ee5f5b, endColorstr='#'bd362f, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f}

.btn-success {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'62c462, endColorstr='#'51a351, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}

.btn-info {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5bc0de, endColorstr='#'2f96b4, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'f2f2f2, GradientType=0);
}


.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 18px 11px 18px;
  color: #666666;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}

.label,
.badge {
  padding: 1px 3px 2px;
  color: #ffffff;
  background-color: #999999;
}

.label-important,
.badge-important {
  background-color: #468847;
}

.label-warning,
.badge-warning {
  background-color: #b94a48;
}

.label-success,
.badge-success {
  background-color: #f89406;
}

.label-info,
.badge-info {
   background-color: #3a87ad;
}

/* page specifc CSS */

/* reference pages: api and models */

.ref-sidenav {
    font-family: 'roboto condensed';
    height: 90%;
    width: 20%;
    padding: 0 0;
    overflow-x: auto;
    margin-left: -5px;
}
#ref-topbar { font-weight: 300; }
.smartbug { height: 25px; width: 30px; padding-right: 2px; }

.call-scope { margin-top: 50px; }

.call-body,
.call-group-header-body {
    padding-top: 60px;
    margin-top: -60px;
}
.call-group-body {
    margin-bottom: 30px;
}
.nav-header {
    font-size: 12px;
    padding-top: 20px;
}
.call {
    list-style: disc;
    font-size: 13px;
}

.model-type-class { margin-top: 50px; }
.model-type { padding-top: 60px; margin-top: -60px; }

/* old */

/* uhh, do _not_ use pre-wrap! */
pre { white-space: pre !important; }



/* in Markdown-land a single _ or * is an <em>, __ or ** is <strong> */
em {
  font-style: normal;
  font-weight: bold;
  color: #666;
}

strong {
  font-style: normal;
  font-weight: bold;
  font-size: 105%;
  color: red;
}


.simple_box {
  margin: 35px;
  border: 4px solid #ccc;
  padding: 15px;
}

.simple_small_box {
  margin: 35px;
  border: 2px solid #ddd;
  padding: 10px;
}

.red_box {
  margin: 35px;
  border: 4px solid red;
  padding: 15px;
}

.red_box_thin {
  margin: 35px;
  border: 2px dotted red;
  padding: 15px;
}

.table caption { font-style: italic; }

.highlight {
    background: #fafafc;
}

.highlight pre {
    font-size: 85%;
    white-space:pre;
    word-wrap:normal;
    overflow-x: auto;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 2px solid #ddd;
    border-radius: 0px;
    padding-left: 8px !important;
}

.nav-tabs {
  font-variant: small-caps;
  text-transform: uppercase;
  font-size: smaller !important;
  border-bottom: none !important;
}

.nav-tabs > li {
  margin-left: 20px;
}

.nav-tabs > li:first-child {
  margin-left: 0px;
  width: 140px;
}


.nav-tabs > li > a {
  padding: 3px 0 0 0;
  border: none;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: inherit;
  border: none;
  padding: 3px 0 0 0;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  color: #555555;
  background-color: inherit;
  border: none !important;
  border-bottom-color: transparent;
  cursor: default;
}

.rdf_xml, .n_triples, .turtle, .json_ld {
  display: none;
}
.rdf_xml.active, .n_triples.active, .turtle.active, .json_ld.active {
  display: block;
}

.dropdown-menu { background: #fafafa; }

table.list {
  margin-bottom:1em;
  border: 1px solid grey;
}

table.list td {
  padding-right: 1em;
}


